$container: 98rem;
$content: 80rem;
$primary-font: "Open Sans", sans-serif;
$secondary-font: "Varela Round", sans-serif;
$primary-color: #f6f7f8;
$secondary-color: #3273dc;
$title-color: #42465d;
$gray-color: #e9eaed;
