section.about 
    .content 
        +blockBox("About me")
        .about-content 
            p Highly creative and reliable UI Software Engineer and Designer based in Dublin with over 9 years experience currently working at.
            p I always build pixel perfect and interactive user interfaces by emphasizing the simplicity and latest web standards as the main principles.
        .about-skills
            ul 
                li.skill-item
                    .skill-item-title
                        i.fas.fa-code 
                        h4 Languages
                    .skill-item-desc 
                        p HTML5, CSS3, SASS, Javascript
                li.skill-item
                    .skill-item-title
                        i.fas.fa-code 
                        h4 Libraries & Frameworks
                    .skill-item-desc 
                        p React JS, React Native, Angular
                li.skill-item
                    .skill-item-title
                        i.fas.fa-tools 
                        h4 Design
                    .skill-item-desc 
                        p Photoshop, Illustrator, Sketch
