section.amazing
    .container
        +blockBox("We work with", "Amazing services")
        .amazing-services
            .amazing-list
                +serviceItem("../../images/img-service-icon1.png", "Photography", " Lorem ipsum dolor sit amet, consec tetur adipisicing elit" )
                +serviceItem("../../images/img-service-icon2.png", "Web Design", " Lorem ipsum dolor sit amet, consec tetur adipisicing elit" )
                +serviceItem("../../images/img-service-icon3.png", "Creative", " Lorem ipsum dolor sit amet, consec tetur adipisicing elit" )
            .amazing-list
                 +serviceItem("../../images/img-service-icon4.png", "SEO", " Lorem ipsum dolor sit amet, consec tetur adipisicing elit" )
                 +serviceItem("../../images/img-service-icon5.png", "CSS/HTML", " Lorem ipsum dolor sit amet, consec tetur adipisicing elit" )
                 +serviceItem("../../images/img-service-icon6.png", "DIGITAL", " Lorem ipsum dolor sit amet, consec tetur adipisicing elit" )
