section.device
    .container
        +blockBox("For all devices", "Unique Design")
        img.device-img(src= "../../images/img-devices.png")
        //- .device-wrapper
        //-     img.device-img(src= "../../images/img-devices.png")