section.hero 
    .content
        .hero-content
            .hero-left 
                span.hero-hello Hello! 
                h1.hero-heading I'm Tho, a passionate Web development based in Ho Chi Minh.
            .hero-right
                img.hero-avatar(src="https://file.publish.vn/dev/2021-05/medium/img5031-1619848172494.JPG")