section.number
    .container
        .number-list
            .number-item
                span.number-item-number 42
                span.number-item-desc Web Design Projects
            .number-item
                span.number-item-number 123
                span.number-item-desc happy client
            .number-item
                span.number-item-number 15
                span.number-item-desc award winner
            .number-item
                span.number-item-number 99
                span.number-item-desc Cup of Coffee
            .number-item
                span.number-item-number 24
                span.number-item-desc Members