section.say
    .container
        +blockBox("Happy Clients", "What people say")
        .say-list
            +sayItem("../../images/img-people1.png","Matthew Dix", "Graphic Design", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.")
            +sayItem("../../images/img-people2.png","Nick Karvounis", "Graphic Design", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.")
            +sayItem("../../images/img-people3.png","Jaelynn Castillo", "Graphic Design", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.")
            +sayItem("../../images/img-people4.png","Mike Petrucci", "Graphic Design", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.")
            //- .say-item
            //-     img.say-avatar(src="../../images/img-people1.png", alt="")
            //-     .say-desc
            //-         h4.say-name Matthew Dix
            //-         span.say-position Graphic Design
            //-         p.say-content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
            //- .say-item
            //-     img.say-avatar(src="../../images/img-people2.png", alt="")
            //-     .say-desc
            //-         h4.say-name Matthew Dix
            //-         span.say-position Graphic Design
            //-         p.say-content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
            //- .say-item
            //-     img.say-avatar(src="../../images/img-people3.png", alt="")
            //-     .say-desc
            //-         h4.say-name Jaelynn Castillo
            //-         span.say-position Graphic Design
            //-         p.say-content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.