section.post
    .container
        +blockBox("Our stories","Latest Blog")
        .post-list
            .post-item
                .post-content
                    .post-top
                        img(src= "../../images/img-blog1.png").post-img
                        .post-publishdate
                            span.post-day 15
                            span.post-month Jan
                    .post-bottom
                        h3.post-title Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                        p.post-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .post-interact
                    .post-view
                        i.fas.fa-eye.post-icon
                        span.post-view-number 542
                    .post-comment
                        i.fas.fa-comment-dots
                        span.post-comment-number 17

            .post-item
                .post-content
                    .post-top
                        img(src= "../../images/img-blog2.png").post-img
                        .post-publishdate
                            span.post-day 15
                            span.post-month Jan
                    .post-bottom
                        h3.post-title Lorem ipsum dolor sit amet
                        p.post-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .post-interact
                    .post-view
                        i.fas.fa-eye.post-icon
                        span.post-view-number 542
                    .post-comment
                        i.fas.fa-comment-dots
                        span.post-comment-number 17

            .post-item
                .post-content
                    .post-top
                        img(src= "../../images/img-blog3.png").post-img
                        .post-publishdate
                            span.post-day 15
                            span.post-month Jan
                    .post-bottom
                        h3.post-title Lorem ipsum dolor sit amet
                        p.post-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .post-interact
                    .post-view
                        i.fas.fa-eye.post-icon
                        span.post-view-number 542
                    .post-comment
                        i.fas.fa-comment-dots
                        span.post-comment-number 17