section.quote-bottom
    .container
        i.fa.fa-chevron-left.quote-icon.quote-icon-left
        i.fa.fa-chevron-right.quote-icon.quote-icon-right
        .quote-list
            +quoteItem("../../images/img-quote-avatar.png", "“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”", "Joshua Earle")
