section.quote
    .container
        i.fa.fa-chevron-left.quote-icon.quote-icon-left
        i.fa.fa-chevron-right.quote-icon.quote-icon-right
        .quote-list
            .quote-item
                .quote-left
                    img.quote-img(src="../../images/img-quote.png")
                .quote-main
                    .quote-main-content “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
                    .quote-main-by ThoArrow