section.team
    .container
        +blockBox("Who we are", "Meet our team"," Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
        .team-list
            +teamMember("../../images/img-team1.png", "Matthew DixMatthew DixMatthew DixMatthew DixMatthew DixMatthew DixMatthew Dix", "Graphic Design")
            +teamMember("../../images/img-team2.png", "Christopher Campbell", "Branding/UX design")
            +teamMember("../../images/img-team3.png", "Matthew Dix", "Graphic Design")