secition.wedo
    .container
        +blockBox("Service", "What we do", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
        .wedo-content
            img.wedo-img(src="../../images/img-wedo.png")
            .wedo-list
                .wedo-item.wedo-service-1
                    .wedo-header
                        img.wedo-header-img(src="../../images/img-wedo-icon1.png")
                        h4.wedo-header-heading Photography
                        i.fa.fa-chevron-down.wedo-header-icon
                    .wedo-body.is-active
                        span.wedo-body-content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .wedo-item.wedo-service-2
                    .wedo-header
                        img.wedo-header-img(src="../../images/img-wedo-icon2.png")
                        h4.wedo-header-heading Creative
                        i.fa.fa-chevron-up.wedo-header-icon
                    .wedo-body
                        textarea.wedo-body-content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .wedo-item.wedo-service-3
                    .wedo-header
                        img.wedo-header-img(src="../../images/img-wedo-icon3.png")
                        h4.wedo-header-heading Web Design
                        i.fa.fa-chevron-up.wedo-header-icon
                    .wedo-body
                        textarea.wedo-body-content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

