section.work
    .work-list
        .work-col
            +workItem("../../images/img-work1.png"," Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis illo, quia voluptatibus qui assumenda magni maxime saepe","Lorem ipsum dolor sit")
            +workItem("../../images/img-work2.png","Creative Designed","Lorem ipsum dolor sit")
        .work-col
            +workItem("../../images/img-work3.png","Creativee Designed","Lorem ipsum dolor sit")
            +workItem("../../images/img-work4.png","Creative Designed","Lorem ipsum dolor sit")
        .work-col
            +workItem("../../images/img-work5.png"," Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis illo, quia voluptatibus qui assumenda magni maxime saepe","Lorem ipsum dolor sit")
        .work-col
            +workItem("../../images/img-work6.png","Creativee Designed","Lorem ipsum dolor sit")
            +workItem("../../images/img-work7.png","Creativee Designed","Lorem ipsum dolor sit")
            //- .work-item
            //-     img.work-img(src="../../images/img-work2.png")
            //-     .work-content
            //-         i.fas.fa-photo-video.work-icon
            //-         h4.work-heading Creative Designed
            //-         p.work-text Lorem ipsum dolor sit amet.
            //- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis illo, quia voluptatibus qui assumenda magni maxime saepe nobis nulla amet vitae cumque quis, consequatur rerum corrupti quo libero in fugiat!