.hero {
  padding-top: 12rem;
  background-color: $primary-color;
  border-bottom: 2px solid $gray-color;
  &-content {
    @include flexbox(center, space-between);
  }
  &-left,
  &-right {
    width: calc(50% - 2rem);
  }
  &-hello {
    font-family: $secondary-font;
    font-size: 3.5rem;
    font-weight: bold;
    color: $title-color;
    text-transform: uppercase;
  }
  &-heading {
    max-width: 30rem;
    font-size: 1.6rem;
    font-weight: 500;
  }
  &-right {
    height: 35rem;
  }
  &-avatar {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    transform: translateY(1px);
    max-height: 100%;
    margin-top: auto;
    margin-right: auto;
    width: auto;
    object-fit: contain;
    display: block;
  }
}
